<section class="koan-show-container clearfix">
  <div class="koan-email-container clearfix">
    <div class="email-heading clearfix">
      <h3><%= @koan.name %></h3>
    </div>
    <div class="email-body clearfix">
    </div>
  </div>
  <div class="code-row clearfix">
    <div class="code-block clearfix">
      <%= render partial: "codepen_render", locals: { problem: @koan.problem, name: @koan.name } %>
    </div>
    <div class="goal-block">
      <div class="goal-title-block">
        <p>The Propsed Design</p>
      </div>
      <div class="goal-visual-block">
        <%= image_tag @koan.solution.image.url(:top_crop) %>
      </div>
    </div>
  </div>
  <div class="interaction-row clearfix">
    <div class="fork-button-block clearfix">
      <%= link_to('Fork on Codepen', @koan.problem.codepen_permalink, class: 'codepen-fork', :target => "_blank") %>
      <%= link_to('Fork on Github', 'https://www.github.com', class: 'github-fork', :target => "_blank") %>
    </div>
    <div class="think-about-row clearfix">
    </div>
  </div>
</section>
